body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* to remove all the resedual margins */

#body-header {
  background-image: url("image/cover.jpg");
  opacity: 1;
  background-color: black;
  height: 75vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  /* top: 0; */
}

.horizontal-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  padding-top: 40px;
  font-weight: 350;
  font-size: 30px;
  /* font-family: sans-serif; */
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 12px 0px 12px;
  cursor: pointer;
}

.horizontal-list li a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.horizontal-list li a:hover {
  color: #4b5563;
}

.text-center {
  text-align: center;
}

#name-social-container {
  margin-top: 10vh;
}

#my-name {
  font-size: 5rem;
  letter-spacing: 0.6rem;
  color: #353a42;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

.social-icons li a div {
  height: 50px;
  width: 50px;
  margin: 0px 15px;
  border-radius: 50%;
  color: #4b5563;
  transition: box-shadow 0.25s;
}

.social-icons li a div:hover {
  /* box-shadow: 0px 0px 24px 5px white;
   */
  color: black;
}

#about {
  height: auto;
  width: 100%;
  position: relative;
}

#my-image
    /* this is the div */ {
  height: 15rem;
  width: 15rem;
  margin: auto;
  margin-top: -15vh;
  border: 2px solid black;
  border-radius: 50%;
}

@media screen and (max-width: 660px) {
  #body-header {
    height: 45vh;
  }
  .horizontal-list {
    font-size: 16px;
  }
  .horizontal-list li {
    margin: 0px 5px;
  }
  #my-name {
    font-size: 2rem;
  }
  #name-social-container {
    margin-top: 6vh;
  }
  .social-icons li a {
    height: 40px;
    width: 40px;
  }
  .social-icons {
    margin-top: 20px;
  }
  #my-image
        /* this is the div */ {
    height: 10rem;
    width: 10rem;
    margin-top: -10vh;
  }
}

#my-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  /* these height and width are written in percentages, and percentage is a relative unit. so both of them will be 100% of their parent */
}

.about-text {
  margin: 5vh 20vw 5vh 20vw;
  font-weight: 175;
  color: #4b5563;
  font-size: 25px;
  text-align: justify;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: baseline;
  /* works along cross axis */
}

.top-and-bottom-margin {
  margin: 50px 0px;
}

section:nth-child(2n) {
  background-color: rgb(245, 244, 244);
}

section:nth-child(2n + 1) {
  background-color: white;
}

.section-heading {
  width: auto;
  padding: 20px 10px 10px 20px;
  font-weight: 150;
}

.section-heading span {
  font-size: 40px;
  color: #4b5563;
  display: inline-block;
}

.section-heading span img {
  width: 40px;
  height: 40px;
  /* to adjust skills image size */
}
/* skills */

#skill-heading {
  position: relative;
  bottom: 0.3rem;
}

.mb75px {
  margin-bottom: 50px;
}

.skills-display {
  width: 75%;
  height: inherit;
  /* height:100px;
    border:2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 40px;
}

.color1 {
  background-color: #005b9a;
}

.color2 {
  background-color: #0191c8;
}

.color3 {
  background-color: #74c2e1;
}

.color4 {
  background-color: #8c8984;
}

.skill-progress {
  width: 13rem;
  background-color: darkgrey;
  height: 2.5rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 8px 1px #4b5563;
  margin: 30px;
  position: relative;
}
/* percentage-classes */
.skill-progress span {
  position: absolute;
  /* in the javascript file, when the width of the inner div increases, then the text inside it should not wrap. thats why the position in abolute. and this position is absolute relative to the skill progress, whose position is relative */
}
.eighty-five-percent {
  width: 85%;
  height: inherit;
  border-radius: 0.8rem 0rem 0rem 0.8rem;
}

.ninety-percent {
  width: 90%;
  height: inherit;
  border-radius: 0.8rem 0rem 0rem 0.8rem;
}

.eighty-percent {
  width: 80%;
  height: inherit;
  border-radius: 0.8rem 0rem 0rem 0.8rem;
}

.seventy-five-percent {
  width: 75%;
  height: inherit;
  border-radius: 0.8rem 0rem 0rem 0.8rem;
}

.skill-name {
  color: black;
  padding-left: 15px;
  padding-top: 10px;
}
/* timeline */

.timeline-divider {
  position: absolute;
  height: 90%;
  width: 0%;
  border: 1px dashed #4b5563;
  top: 5%;
  left: 50%;
}

.timeline-traveller {
  position: sticky;
  top: 20%;
  transform: rotate(360deg);
  z-index: 2;
}
.timeline-traveller {
  left: -50px;
}

.timeline {
  position: relative;
  width: 75%;
}

.timeline-box {
  position: relative;
  width: 46%;
  min-height: 150px;
  background-color: rgb(245, 245, 245);
  margin: 5px;
  left: -5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  padding: 10px;
}

.timeline-box:nth-child(2n + 1)::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -19.5%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
  z-index: 1;
}

.timeline-box:nth-child(2n)::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -19.2%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
  z-index: 1;
}

.timeline-box:nth-child(2n + 1) {
  align-items: flex-end;
}

.timeline-box:nth-child(2n) {
  left: 58%;
}

.timeline-box:nth-child(2n + 1) .timeline-box-headings span:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.timeline-box:nth-child(2n) .timeline-box-headings span:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline-box-headings span img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.timeline-box-title {
  color: #4b5563;
  font-weight: 500;
  font-size: 20px;
  width: auto;
  overflow-wrap: break-word;
}

.timeline-box-headings {
  display: flex;
  flex-direction: row;
}

.timeline-box-title:nth-child(2n + 1) {
  text-align: right;
}

.timeline-box-title:nth-child(2n) {
  text-align: left;
}

.timeline-box-company-name {
  color: #005b9a;
  font-size: large;

  font-weight: 250;
}

.timeline-box-duration {
  color: darkslategrey;
}

.timeline-box-headings {
  margin: 20px;
}

.timeline-box-description {
  /* margin: auto auto 20px; */
  width: aut;
  text-align: justify;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .timeline-divider {
    left: 5%;
  }
  .timeline-box {
    left: 12% !important;
    width: 80%;
  }
  /* .timeline-box:nth-child(2n) {
        left: 12%;
    } */
  .timeline-box:nth-child(2n + 1) {
    align-items: flex-start;
  }
  .timeline-box::after {
    left: -10.5% !important;
  }
  /* .timeline-box:nth-child(2n+1)::after {
        left: -10.5%;
    }
    .timeline-box:nth-child(2n)::after {
        left: -10.5%;
    } */
  html {
    font-size: 15px;
  }
  .timeline-box:nth-child(2n + 1) .timeline-box-headings span:nth-child(2) {
    align-items: flex-start !important;
  }
}

@media screen and (max-width: 600px) {
  .timeline-divider {
    left: 5%;
  }
  .timeline-box {
    left: 12% !important;
    width: 80%;
  }
  /* .timeline-box:nth-child(2n) {
        left: 12%;
    } */
  .timeline-box:nth-child(2n + 1) {
    align-items: flex-start;
  }
  .timeline-box::after {
    left: -11.5% !important;
  }
  /* .timeline-box:nth-child(2n+1)::after {
        left: -10.5%;
    }
    .timeline-box:nth-child(2n)::after {
        left: -10.5%;
    } */
  html {
    font-size: 15px;
  }
  .timeline-box:nth-child(2n + 1) .timeline-box-headings span:nth-child(2) {
    align-items: flex-start !important;
  }
}
/* portfolio */

.portfolio-display {
  width: 100%;
  height: inherit;
  /* height:100px;
    border:2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.project {
  width: 400px;
  margin: 5px;
  padding-right: 60px;
  padding-bottom: 10px;
  border-radius: 5px;
  line-height: 30px;
}

.project > ul > li > ul > li > a {
  text-decoration: none;
  color: white;
}

.project > ul > li > ul {
  list-style: symbols("-");
}

.project:nth-child(1) {
  background-color: #005b9a;
}
.project:nth-child(2) {
  background-color: #0191c8;
}
.project:nth-child(3) {
  background-color: #74c2e1;
}
/* contact section */

#contact {
  background-color: #4b5563;
}

.contact-content {
  width: 85%;
  height: inherit;
  /* height:100px;
    border:2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* padding-bottom: 40px; */
  flex-direction: row;
}

.contact-block {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact-block p {
  color: white;
}
@media screen and (max-width: 900px) {
  .contact-content {
    width: 90%;
    flex-direction: column;
  }
  .contact-block {
    width: 70%;
  }
  .contact-block:nth-child(2) div h1 {
    text-align: center;
  }
  #contact-form div {
    width: 100%;
  }
  .contact-block div span img {
    display: block;
    margin: 20px auto;
  }
  .contact-block div p {
    margin: 0px;
  }
  #my-info span:nth-child(2) {
    margin: 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
